@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Dino Diner</h1>
<div>
    <a asp-page="/Menu">View menu</a>
    <a asp-page="/Privacy">Privacy</a>
    <a asp-page="/About">About us</a>
</div>
<img src="~/images/DinoDiner-24.png" height="500" width="500">