/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


form{
    width: 300px;
    background-color: lightgray;
    flex-grow: 0;
    padding: 50px;
}


.content{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
}

.checkbox-list{
    display: flex;
    flex-direction: column;
}