<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Menu</name>
    </assembly>
    <members>
        <member name="T:DinoDiner.Menu.CretaceousCombo">
            <summary>
            Class to allow customers to get a combo meal at a slightly cheaper price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Entree">
            <summary>
            Sets the entree of the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Side">
            <summary>
            The side of the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Drink">
            <summary>
            The drink of the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Price">
            <summary>
            sets how much the combo price is.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Calories">
            <summary>
            Returns the total calories of the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Size">
            <summary>
            Sets the size for the drink and side in the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Ingredients">
            <summary>
            Creates a list of all of the ingredients in the combo
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.CretaceousCombo.#ctor(DinoDiner.Menu.Entree)">
            <summary>
            Constructor to create a Cretaceous combo
            </summary>
            <param name="entree">Entree of choice by customer</param>
        </member>
        <member name="M:DinoDiner.Menu.CretaceousCombo.ToString">
            <summary>
            Overrides the ToString method and allows us to return 
            the name of the Combo with proper formatting
            </summary>
            <returns>Name of Combo as type string</returns>
        </member>
        <member name="T:DinoDiner.Menu.Drink">
            <summary>
            Base class to add drinks to the menu that uses the interface IMenuItem
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.Drink.PropertyChanged">
            <summary>
            
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drink.NotifyOfPropertyChanged(System.String)">
            <summary>
            Event Hnadler for when a property is changed
            to update the gui
            </summary>
            <param name="propertyName"></param>
        </member>
        <member name="F:DinoDiner.Menu.Drink.ingredients">
            <summary>
            variable to hold ingredients in
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Price">
            <summary>
            Holds the price of the drink
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Calories">
            <summary>
            holds the calories of the drink
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Ingredients">
            <summary>
            Returns the list of ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Ice">
            <summary>
            holds if the customer wants ice in their drink or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drink.HoldIce">
            <summary>
            removes ice from drink
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Size">
            <summary>
            Holds the size of the drink
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Description">
            <summary>
            Desription of the Drink
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Special">
            <summary>
            special instructions for the item
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.JurrasicJava">
            <summary>
            Creates a Jurrasic class to add tea to the menu
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.JurrasicJava.RoomForCream">
            <summary>
            Holds if the customer wants room for cream
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.JurrasicJava.Decaf">
            <summary>
            Holds if the customer wants decaf coffee or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurrasicJava.#ctor">
            <summary>
            Constructor to set default values for JurrasicJava
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurrasicJava.Ingredients">
            <summary>
            Create a list of immutable ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurrasicJava.LeaveRoomForCream">
            <summary>
            Sets RoomForCream value to true 
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurrasicJava.Size">
            <summary>
            sets the price to the size and returns the size
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurrasicJava.AddIce">
            <summary>
            Adds ice to ingredients making iced coffee
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurrasicJava.MakeDecaf">
            <summary>
            Allows the Customer to make the coffee Decaf
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurrasicJava.ToString">
            <summary>
            Overrides ToString to return the name of the drink as we want it
            </summary>
            <returns>Name of Drink</returns>
        </member>
        <member name="P:DinoDiner.Menu.JurrasicJava.Description">
            <summary>
            Provides a description of the Drink
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurrasicJava.Special">
            <summary>
            gets special instructions 
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sodasaurus">
            <summary>
            Creates a class to hold a generic soda for the menu
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sodasaurus.#ctor">
            <summary>
            constructor to set default values for the soda
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Ingredients">
            <summary>
            Creates list of immutable ingredients
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Sodasaurus.flavor">
            <summary>
            private variable to hold what flavor the soda is
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Flavor">
            <summary>
            constructor to get and set the flavor for sodasaurus
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Size">
            <summary>
            sets the price to the size and returns the size
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sodasaurus.ToString">
            <summary>
            Overrides ToString to return the name of the drink as we want it
            </summary>
            <returns>Name of Drink</returns>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Description">
            <summary>
            Provides a description of the Drink
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Special">
            <summary>
            Returns special instructions for the drink
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.SodasaurusFlavor">
            <summary>
            enum to hold the different available flavors of SodaSaurus 
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Cola">
            <summary>
            Cola flavoring
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Orange">
            <summary>
            orange flavoring
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Vanilla">
            <summary>
            Vanilla Flavoring
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Chocolate">
            <summary>
            Chocolate flavoring
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.RootBeer">
            <summary>
            Rootbeer flavoring
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Cherry">
            <summary>
            Cherry flavoring
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Lime">
            <summary>
            Lime flavoring
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Tyrannotea">
            <summary>
            Creates a Tyrannotea class to add tea to the menu
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Tyrannotea.Sweet">
            <summary>
            Holds if the customer wants sweet tea or not
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Tyrannotea.Lemon">
            <summary>
            holds if the customer wants lemon with their tea
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.#ctor">
            <summary>
            constructor to set the default values of the tea
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.MakeSweet">
            <summary>
            Sets sweet to true, adds sugar to the ingredients list, and sets the default calories
            to 16 if the customer wants sweet tea
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.AddLemon">
            <summary>
            Adds Lemon to the ingredients and sets lemon to true 
            if the customer wants lemon with their tea
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Ingredients">
            <summary>
            Creates list of immutable ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Size">
            <summary>
            sets the price to the size and returns the size
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.ToString">
            <summary>
            Overrides ToString to return the name of the drink as we want it
            </summary>
            <returns>Name of Drink</returns>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Description">
            <summary>
            Provides a description of the Drink
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Special">
            <summary>
            gets special instructions 
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Water">
            <summary>
            Creates a Water class to add water to the menu
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Water.Lemon">
            <summary>
            Holds if the customer wants lemon with their tea or not
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Water.#ctor">
            <summary>
            constructor to set default values for water
            </summary> 
            
        </member>
        <member name="P:DinoDiner.Menu.Water.Ingredients">
            <summary>
            Creates list of immutable ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Size">
            <summary>
            sets the price to the size and returns the size
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Water.AddLemon">
            <summary>
            Adds lemon to the ingredients and sets lemon to true
            if the customer wants lemon with their water
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Water.ToString">
            <summary>
            Overrides ToString to return the name of the drink as we want it
            </summary>
            <returns>Name of Drink</returns>
        </member>
        <member name="P:DinoDiner.Menu.Water.Description">
            <summary>
            Provides a description of the Drink
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Special">
            <summary>
            gets special instructions 
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Brontowurst">
            <summary>
            Defines a class to add a brontowurst as an entree to the menu
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Brontowurst.Ingredients">
            <summary>
            Creates a list of ingredients to return to user
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.#ctor">
            <summary>
            Sets the price and Calorie fields in the base class
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.HoldBun">
            <summary>
            Removes bun from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.HoldPeppers">
            <summary>
            Removes peppers from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.HoldOnion">
            <summary>
            Removes onions from ingredients list
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.ToString">
            <summary>
            Overrides the ToString method and allows us to return 
            the name of the entree item with proper formatting
            </summary>
            <returns>Name of entree item as type string</returns>
        </member>
        <member name="P:DinoDiner.Menu.Brontowurst.Description">
            <summary>
            gets a description of the order item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Brontowurst.Special">
            <summary>
            gets special instructions for making the sandwich
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.DinoNuggets">
            <summary>
            Adds Dino nuggets to the menu as an entree
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.DinoNuggets.total">
            <summary>
            keeps track of the total number of nuggets 
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.DinoNuggets.Ingredients">
            <summary>
            Creates a list of ingredients to return to the user
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.#ctor">
            <summary>
            Constructor to set price and calorie fields of base class
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.AddNugget">
            <summary>
            Method called to add a nugget to the order
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.ToString">
            <summary>
            Overrides the ToString method and allows us to return 
            the name of the entree item with proper formatting
            </summary>
            <returns>Name of entree item as type string</returns>
        </member>
        <member name="P:DinoDiner.Menu.DinoNuggets.Description">
            <summary>
            gets a description of the order item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.DinoNuggets.Special">
            <summary>
            gets special instructions if extra nuggets are added
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entree">
            <summary>
            Base class that Entree items derive from.
            uses interface IMenuItem to make entrees part 
            of the menu
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Entree.ingredients">
            <summary>
            instance to build the ingredients with. This is ultimately overwritten.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Description">
            <summary>
            Desription of the entree
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Special">
            <summary>
            special instructions for the item
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.Entree.PropertyChanged">
            <summary>
            Event for Property Changed
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entree.NotifyOfPropertyChanged(System.String)">
            <summary>
             Event Handler for when a property is changed
            </summary>
            <param name="propertyName"></param>
        </member>
        <member name="T:DinoDiner.Menu.PrehistoricPBJ">
            <summary>
            Adds a PBJ sandwich to the menu as an entree
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.PrehistoricPBJ.Ingredients">
            <summary>
            Creates a list of ingredients to return to the user
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.#ctor">
            <summary>
            condtructor to set price and calorie fields of base class
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.HoldPeanutButter">
            <summary>
            Removes Peanut butter from list of ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.HoldJelly">
            <summary>
            removes jelly from list of ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.ToString">
            <summary>
            Overrides the ToString method and allows us to return 
            the name of the entree item with proper formatting
            </summary>
            <returns>Name of entree item as type string</returns>
        </member>
        <member name="P:DinoDiner.Menu.PrehistoricPBJ.Description">
            <summary>
            gets a description of the order item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.PrehistoricPBJ.Special">
            <summary>
            gets special instructions for making the sandwich
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.PterodactylWings">
            <summary>
            Adds Pterodactyl wings and an entree
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.PterodactylWings.Ingredients">
            <summary>
            Creates list of immutable ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PterodactylWings.#ctor">
            <summary>
            constructor to add ingredients, price and calories to variables created in
            the base class
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PterodactylWings.ToString">
            <summary>
            Overrides the ToString method and allows us to return 
            the name of the entree item with proper formatting
            </summary>
            <returns>Name of entree item as type string</returns>
        </member>
        <member name="P:DinoDiner.Menu.PterodactylWings.Description">
            <summary>
            returns a description of the entree
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.PterodactylWings.Special">
            <summary>
            gets special instructions for making the sandwich
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.SteakosaurusBurger">
            <summary>
            Adds Steakosaurus Burger to the menu as an entree
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SteakosaurusBurger.bun">
            <summary>
            Private boolean values to hold if the customer wants the respective ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.SteakosaurusBurger.Ingredients">
            <summary>
            Creates a list of ingredients to return to the user
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.#ctor">
            <summary>
            constructor to set price and calorie fields of base class
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldBun">
            <summary>
            removes bun from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldPickle">
            <summary>
            removes pickle from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldKetchup">
            <summary>
            removes ketchup from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldMustard">
            <summary>
            removes mustard from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.ToString">
            <summary>
            Overrides the ToString method and allows us to return 
            the name of the entree item with proper formatting
            </summary>
            <returns>Name of entree item as type string</returns>
        </member>
        <member name="P:DinoDiner.Menu.SteakosaurusBurger.Description">
            <summary>
            Provides a description of the entree
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.SteakosaurusBurger.Special">
            <summary>
            gets special instructions if extra nuggets are added
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.TRexKingBurger">
            <summary>
            Adds TRex King Burger to menu as an entree
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.TRexKingBurger.Special">
            <summary>
            gets special instructions 
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.TRexKingBurger.bun">
            <summary>
            private boolean values to hold if the customer wants the respective ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.TRexKingBurger.Ingredients">
            <summary>
            creates a list of ingredients to return to the user
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.#ctor">
            <summary>
            Constructor to set price and calorie fields of base class
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldBun">
            <summary>
            removes bun from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldLettuce">
            <summary>
            removes lettuce from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldTomato">
            <summary>
            removes tomato from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldOnion">
            <summary>
            removes onion from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldPickle">
            <summary>
            removes pickle from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldKetchup">
            <summary>
            removes ketchup from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldMustard">
            <summary>
            removes mustard from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldMayo">
            <summary>
            removes mayo from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.ToString">
            <summary>
            Overrides the ToString method and allows us to return 
            the name of the entree item with proper formatting
            </summary>
            <returns>Name of entree item as type string</returns>
        </member>
        <member name="P:DinoDiner.Menu.TRexKingBurger.Description">
            <summary>
            Provides a description of the entree
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.VelociWrap">
            <summary>
            Adds veloci wrap to menu as an entree
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.VelociWrap.dressing">
            <summary>
            private boolean values to hold if the customer wants to respective ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.VelociWrap.Ingredients">
            <summary>
            Creates a list of ingredients to return to user
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.#ctor">
            <summary>
            Constructor to set price and calorie fields of base class
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.HoldDressing">
            <summary>
            removes dressing from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.HoldLettuce">
            <summary>
            removes lettuce from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.HoldCheese">
            <summary>
            removes cheese from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.ToString">
            <summary>
            Overrides the ToString method and allows us to return 
            the name of the entree item with proper formatting
            </summary>
            <returns>Name of entree item as type string</returns>
        </member>
        <member name="P:DinoDiner.Menu.VelociWrap.Special">
            <summary>
            gets special instructions for making the sandwich
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.IMenuItem">
            <summary>
            Interface to allow the Entrees, Sides, and Drinks
            be added to the "menu"
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IMenuItem.Price">
            <summary>
            Price of the item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IMenuItem.Calories">
            <summary>
            Calories of the item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IMenuItem.Ingredients">
            <summary>
            ingredients of the item
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.IOrderItem">
            <summary>
            Allows us to easily access ordered items properties in the gui
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IOrderItem.Price">
            <summary>
            price of the item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IOrderItem.Description">
            <summary>
            description of the item
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IOrderItem.Special">
            <summary>
            special instructions for the item
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Menu">
            <summary>
            Class that keeps track of available items on the menu
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableMenuItems">
            <summary>
            All available items on the menu
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableEntrees">
            <summary>
            All available Entrees on the menu
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableSides">
            <summary>
            All available Sides on the menu
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableDrinks">
            <summary>
            All available Drinks on the menu
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Menu.ToString">
            <summary>
            Overrides the ToString method and returns a string of 
            all available items seperated by a new line
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.Order">
            <summary>
            Class to keep track of order
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Order.items">
            <summary>
            List of items ordered
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.Items">
            <summary>
            Cost of the items without tax
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.SalesTaxRate">
            <summary>
            going tax rate for city 
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.SalesTaxCost">
            <summary>
            The amount of tax for the order
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.TotalCost">
            <summary>
            Cost of the ordered items plus the tax
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Fryceritops">
            <summary>
            Adds Fries to the menu as a side
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Fryceritops.size">
            <summary>
            Variable to hold the size ordered
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Fryceritops.Size">
            <summary>
            method to set the price and calories for the fries to the size ordered
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Fryceritops.#ctor">
            <summary>
            method to add the ingredients to the ingredients list 
            as well as default price and calories
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Fryceritops.ToString">
            <summary>
            Overrides the ToString method and allows us to return 
            the name of the side item with proper formatting
            </summary>
            <returns>Name of side item as type string</returns>
        </member>
        <member name="P:DinoDiner.Menu.Fryceritops.Description">
            <summary>
            Provides a description of the Drink
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Fryceritops.Special">
            <summary>
            gets special instructions 
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.MeteorMacAndCheese">
            <summary>
            Adds Meteor Mac and Cheese to the menu as a side
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.MeteorMacAndCheese.size">
            <summary>
            Variable to hold the size ordered
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MeteorMacAndCheese.Size">
            <summary>
            method to set the price and calories for the mac and cheese to the size ordered
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MeteorMacAndCheese.#ctor">
            <summary>
            method to add the ingredients to the ingredients list 
            as well as default price and calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MeteorMacAndCheese.Ingredients">
            <summary>
            creates list of immutable ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MeteorMacAndCheese.ToString">
            <summary>
            Overrides the ToString method and allows us to return 
            the name of the side item with proper formatting
            </summary>
            <returns>Name of side item as type string</returns>
        </member>
        <member name="P:DinoDiner.Menu.MeteorMacAndCheese.Description">
            <summary>
            Provides a description of the Side
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MeteorMacAndCheese.Special">
            <summary>
            gets special instructions 
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.MezzorellaSticks">
            <summary>
            Adds Mezzorella sticks to the menu as a side
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.MezzorellaSticks.size">
            <summary>
            Variable to hold the size ordered
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MezzorellaSticks.Size">
            <summary>
            method to set the price and calories for the sticks to the size ordered
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MezzorellaSticks.#ctor">
            <summary>
            method to add the ingredients to the ingredients list 
            as well as default price and calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MezzorellaSticks.Ingredients">
            <summary>
            Creates list of immutable ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MezzorellaSticks.ToString">
            <summary>
            Overrides the ToString method and allows us to return 
            the name of the side item with proper formatting
            </summary>
            <returns>Name of side item as type string</returns>
        </member>
        <member name="P:DinoDiner.Menu.MezzorellaSticks.Description">
            <summary>
            Provides a description of the Side
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MezzorellaSticks.Special">
            <summary>
            gets special instructions 
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Side">
            <summary>
            Base class for side items that uses the IMenuItem interface to add the sides to the menu
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.Side.PropertyChanged">
            <summary>
            Event for PropertyChanged
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Side.NotifyOfPropertyChanged(System.String)">
            <summary>
            Event Hnadler for when a property is changed
            to update the gui
            </summary>
            <param name="propertyName"></param>
        </member>
        <member name="F:DinoDiner.Menu.Side.ingredients">
            <summary>
            List of ingredients that is ultimately overwritten
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Size">
            <summary>
            Gets or sets the size
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Description">
            <summary>
            Desription of the side
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Special">
            <summary>
            special instructions for the item
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Triceritots">
            <summary>
            Class to add Triceritots to the menu
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Triceritots.size">
            <summary>
            Variable to hold the size ordered
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Triceritots.Size">
            <summary>
            method to set the price and calories for the tots to the size ordered
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Triceritots.#ctor">
            <summary>
            method to add the ingredients to the ingredients list 
            as well as default price and calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Triceritots.Ingredients">
            <summary>
            Creates list of immutable ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Triceritots.ToString">
            <summary>
            Overrides the ToString method and allows us to return 
            the name of the side item with proper formatting
            </summary>
            <returns>Name of side item as type string</returns>
        </member>
        <member name="P:DinoDiner.Menu.Triceritots.Description">
            <summary>
            Provides a description of the Side
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Triceritots.Special">
            <summary>
            gets special instructions 
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Size">
            <summary>
            enum to hold the available sizes
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Size.Small">
            <summary>
            small size
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Size.Medium">
            <summary>
            medium size
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Size.Large">
            <summary>
            Large size
            </summary>
        </member>
    </members>
</doc>
